@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap");

@import "tailwindcss";

@theme {
  --font-primary: "Inter", sans-serif;
}

.ag-theme-alpine,
.ag-theme-alpine * {
  font-family: "Inter", sans-serif !important;
}
